openai==2.1.0
langchain-openai==1.1.6
langchain-community==0.4.1
langchain-core==1.2.5
langchain==1.2.0
langchain-text-splitters==1.0.0
langgraph==1.0.2
langgraph-prebuilt==1.0.2
langgraph-sdk==0.2.9
langgraph-checkpoint==3.0.0
faiss-cpu==1.13.2
python-dotenv==1.2.1
pymupdf==1.25.3
fastapi==0.115.0
python-multipart==0.0.29
itsdangerous>=2.1.0
uvicorn[standard]==0.31.1
sqlmodel==0.0.22
pydantic[email]==2.11.7
aiofiles==24.1.0
bcrypt>=4.0,<5
boto3==1.43.3
celery==5.6.3
redis==7.4.0
